//variables
@import "variables/colors.scss";
@import "variables/fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@700&display=swap");
//Homepage
@import "pages/homepage.scss";
//Programming Page
@import "pages/programing.scss";

html{
    user-select: none;
}

@media(max-width: 774px){
    nav{
      margin: 0;
    }
     .logo-item h1{
         font-size: 16px;
    }
    .menu{
        display: none;
    }
    .menu-burger{
        display: block;
     }
     .content-homepage{
         padding: 200px 10px 50px 10px;
     }
     .content-homepage h1{
         font-size: 45px;
     }
     .content-homepage p{
         max-width: 320px;
         font-size: 15px;
         text-align: justify;
         padding-right: 20px;
         margin-right: 10px;
         line-height:1.5em ;
     }
     .text-content-main h2{
         font-size: 24px;
         margin-top: 50px;
         padding-left: 20px;
     }
     .text-content-main p{
         padding: 0px 30px;
         font-size: 14px;
     }
     .about-us img{
         max-height: 275px;
         margin-top: 30px;
         margin-bottom: 10px;
     }
     /*--------------------------------------------------*/
     .box-content-item{
         flex-wrap: wrap;
         margin: 10px;
     }
     .box-content h1{
         font-size: 30px;
         width: 100%;
         margin: 30px 10px;
     }
     .box-content-item img{
         height: 100px;
         margin: 5% 25%;
     }
     .content-boxs{
         grid-template-columns: 1fr;
     }
     .content-item-text h2{
         font-size: 18px;
     }
     .content-item-text p{
         font-size: 14px;
     }
 
      /*--------------------------------------------------*/
     .contact{
         grid-template-columns: 1fr;
         gap: 0px;
     }
     .question-information{
         padding-left: 30px;
     }
     .detail-information{
         width: 80%;
     }
     .detail-information p{
         font-size: 14px;
         text-align: left;
         
     }
     .forms{
         padding-bottom: 30px;
     }
     .question-information h2{
         font-size: 24px;
     }
     .contact-form{
         margin: 0px 10px;
         padding-top: 10%;
     }
     .contact-form label{
         margin: 0px 20px ;
     }
     .contact-form input{
         margin: 10px 20px;
     }
     .btn-submit{
         margin: 5px 20px;
     }
// Programming page

     .content-programing-page{
         article{
            padding: 20px 15px;
            h1, h2{
               font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            ul > li{
                font-size: 15px;
            }
         }
         table{
             max-width: 100%;
             text-align: center;
             th{
                 font-size: 15px;
             }
             td{
                 font-size: 15px;
             }
         }
     }
     .references{
         img{
             display: none;
         }
         h3{
             font-size: 16px;
         }
         li {
             a{
                 font-size: 15px;
             }
         }

     }

 }
