*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px;
}
.logo-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo{
    height: 50px;
}
.logo-item h1{
    font-family: $font-title;
    font-weight: 700;
    color: white;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.menu-item a{
    font-family:  $font-text;
    font-weight: 400;
    font-size: 15px;
    color: $color-background-item;
    transition: 1s;
}
.menu-item a:hover{
    color: $color-details-second
}
.menu-burger{
    display: none;
}
.burger-item{
    margin-bottom: 5px;
    background-color: $color-background-item;
    width: 30px;
    height: 2px;
    cursor: pointer;
}
